body {
  background-color: #fff;
  text-align: center;
}

.score {
  font-size: 1rem;
  margin-top: -10px;
}

.container{
  width: 420px;
  max-width: 100%;
  margin: 10% auto;
}

.controls {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    z-index: 5;
    margin-left: calc(50% - 120px);
    margin-top: calc(11% + 70px);
    background-color: rgb(235, 231, 231);
    box-shadow: 1px 1px 10px rgb(99, 97, 97);
    padding: 70px;
}

.count {
    text-align: center;
    padding: 5px;
    background-color: rgb(49, 33, 2);
    color: rgb(248, 164, 86);
}

#start {
    color: white;
    background-color: rgb(69, 158, 69);
    width: 70px;
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    margin: -20px 0 5px;
}

#strict {
    color: white;
    background-color: rgb(73, 73, 245);
    width: 70px;
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    margin: 10px 0;
}

.quarter{
  width: 200px;
  height:200px;
  float:left;
  cursor: pointer;
  pointer-events: none;
}

.one{
  background-color: #07892E;
  border-radius: 40% 0 0 0;
  margin: 0 10px 0 0;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.two{
  background-color: #D10A11;
  border-radius: 0 40% 0 0;
  box-shadow: 2px 2px 5px black;
}

.three{
  background-color: #e6c300;
  border-radius: 0 0 0 40%;
  margin: 10px 10px 0 0;
  box-shadow: 2px 2px 5px black;
}

.four{
  background-color: #081ABA;
  border-radius: 0 0 40% 0;
  margin: 10px 0 0 0;
  box-shadow: 2px 2px 5px black;
}

.opacity {
  opacity: 0.8;
  box-shadow: 0 0 0;
}

/**************modal**************/
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-gameover {
    color: rgb(247, 37, 37);
    text-shadow: 1px 1px 5px black;
    z-index: 200;
    text-align: center;
    font-size: 4rem;
    margin-top: 25%;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  max-width: 80%;
  min-height: 300px;
  padding: 40px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  text-align: left;
}

#model__content-button {
    display: block;
    color: white;
    background-color: rgb(58, 141, 83);
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgb(63, 62, 62);
}

.model-button {
    display: block;
    color: white;
    background-color: rgb(58, 141, 83);
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgb(63, 62, 62);
}

#gameover {
    height: 100vh;
    width: 100vw;
    display: none;
}
/*********************************/


/****** MEDIA QUERIES ***********/

@media only screen and (max-width: 462px) {
    .quarter{
        width: 100%;
        height: 16vh;
    }

    .one{
        border-radius: 4px;
        margin: 5px 0;
    }

    .two{
        border-radius: 4px;
        margin: 5px 0;
    }

    .three{
        border-radius: 4px;
        margin: 5px 0;
    }

    .four{
        border-radius: 4px;
        margin: 5px 0;
    }

    .lives {
        margin: 10px 0;
        text-align: center;
    }

    .container{
        margin: 0% auto;
    }

    .controls {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 40px;
        border-radius: 0;
        z-index: 0;
        margin-left: 0;
        margin-top: 0;
        background-color: white;
        box-shadow: 0 0 0;
        padding: 5px;
    }

    .count {
        text-align: center;
        padding: 10px;
        width: 90px;
        margin: 0 5px 5px;
    }

    #start {
        width: 90px;
        font-size: 1rem;
        border-radius: 4px;
        box-shadow: 1px 1px 1px black;
        cursor: pointer;
        margin: 0 5px 5px;
    }

    #strict {
        width: 90px;
        font-size: 1rem;
        border-radius: 4px;
        box-shadow: 1px 1px 1px black;
        cursor: pointer;
        margin: 0 5px 5px;
    }

    h1 {
      display: none;
    }
}