body {
  background-color: #fff;
}

.container{
  width: 420px;
  margin: 0 auto;
}

.controls {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
    z-index: 5;
    margin-left: calc(50% - 120px);
    margin-top: 100px;
    background-color: white;
    padding: 70px;
}

.count {
    text-align: center;
    padding: 5px;
    background-color: rgb(49, 33, 2);
    color: rgb(248, 164, 86);
}

#start {
    color: white;
    background-color: rgb(69, 158, 69);
    width: 70px;
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    margin: -20px 0 5px;
}

#strict {
    color: white;
    background-color: rgb(73, 73, 245);
    width: 70px;
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    margin: 10px 0;
}

.quarter{
  width: 200px;
  height:200px;
  float:left;
  cursor: pointer;
  pointer-events: none;
}

.one{
  background-color: #07892E;
  border-radius: 40% 0 0 0;
  margin: 0 10px 0 0;
  box-shadow: 2px 2px 5px black;
}

.two{
  background-color: #D10A11;
  border-radius: 0 40% 0 0;
  box-shadow: 2px 2px 5px black;
}

.three{
  background-color: #e6c300;
  border-radius: 0 0 0 40%;
  margin: 10px 10px 0 0;
  box-shadow: 2px 2px 5px black;
}

.four{
  background-color: #081ABA;
  border-radius: 0 0 40% 0;
  margin: 10px 0 0 0;
  box-shadow: 2px 2px 5px black;
}

.opacity {
  opacity: 0.8;
  box-shadow: 0 0 0;
}

.modal {
  display: none;
  height: 200px;
  width: 300px;
  background-color: white;
  position: fixed;
  z-index: 20;
}